body {
    background-image: url('https://i.redd.it/54obu7eenrq61.gif');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    font-family: persona;
}

.sobre {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Bg {
    width: 90%;
    max-width: 600px;
}

.pfp {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Diag {
    background-color: rgba(48, 48, 48, 0.637);
    border-radius: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.Diag img {
    width: 100%;
    border-radius: 20px;
}

.linguagens,
.projetos {
    border-radius: 10px;
    max-width: 90%;
    height: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    margin: 20px auto;
    background-color: rgba(48, 48, 48, 0.637);
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
}

.Ling {
    width: 80px;
    margin: 10px;
}

.Proj {
    width: 100%;
    max-width: 200px;
    margin: 15px;
    outline: 2px solid black;
}

a {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.github {
    width: 100%;
    max-width: 200px;
    margin: 15px;
    outline: 2px solid black;
}
