@font-face {
    font-family: persona;
    src: url("./fonts/Persona5MenuFontPrototype-Regular.ttf") format('truetype');
}

body{
    background-image: url('https://i.redd.it/54obu7eenrq61.gif');
}

header{
    display: flex;
    justify-content: center;
    font-family: persona;
    .sobre{
        border-radius: 10px;
    }
}


main{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .Curso{
        color: rgb(235, 31, 31);
        font-weight: bold;
        background-color: black;
        border-radius: 10px;
        font-family: persona;
    }


    .Bg{
        width: 600px;
        position: relative
    }
    .pfp{
        margin: 0, auto;
        border-radius:  100%;
        display: inline-flex;
        position: absolute;
        width: 100px;
        margin-top: 50px ;
    }
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .cursos{
        border-radius: 10px;
    }
}

